page-departure-tabs {
    // background-image: url('../assets/departure/background/background-home.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    ion-content {
        // background: transparent !important;
        // background-image: none !important;
    }
    .nav-decor {
        background: transparent !important;
    }
    .tabbar.show-tabbar {
        height: 56px;
        font-size: 100%;
        box-shadow: 0 0 0.3px 0 rgba(0, 0, 0, 0.04), 0 0 1px 0 rgba(0, 0, 0, 0.01);
        background-color: transparent !important;
    }
    .tabbar,
    .tabs-ios {
        .tab-button-icon {
            background-repeat: no-repeat;
            background-position: center;
            height: 32px;
            width: 25px;
            margin-bottom: 5px;
            margin-top: 5px;
        }
    }
    .tabs-ios .tabbar {
        border: 0;
        height: 45px;
        // padding-top: 2px;
    }
    .tabs-md {
        .tab-button-icon {
            background-repeat: no-repeat;
            background-position: center;
            height: 32px;
            width: 32px;
            margin-bottom: 2px;
            margin-top: 1px;
        }
    }
    // .footer-ios::before,
    // .tabs-ios[tabsPlacement="bottom"]>.tabbar::before {}
    /*icon customize*/
    /* .ion-ios-day-outline,*/
    /* .ion-ios-day,.ion-md-day,.ion-md-day-outline {*/
    /* content: url('../assets/departure/btn_day_off.png');*/
    /* }*/
    /* .ion-ios-month-outline,*/
    /* .ion-ios-month,.ion-md-month,.ion-md-month-outline {*/
    /* content: url('../assets/departure/btn_month_off.png');*/
    /* }*/
    /* .ion-ios-horoscope-outline,*/
    /* .ion-ios-horoscope,.ion-md-horoscope,.ion-md-horoscope-outline {*/
    /* content: url('../assets/departure/btn_horoscope_off.png');*/
    /* }*/
    /* .ion-ios-exchange-outline,*/
    /* .ion-ios-exchange,.ion-md-exchange,.ion-md-exchange-outline {*/
    /* content: url('../assets/departure/btn_switchday_off.png');*/
    /* }*/
    /* .ion-ios-more-outline,*/
    /* .ion-ios-more,.ion-md-more,.ion-md-more-outline {*/
    /* content: url('../assets/departure/btn_more_off.png');*/
    /* }*/
    /*active and inactive icon for ios*/
    .tabs-ios {
        a[aria-selected=false] {
            .tab-button-icon[ng-reflect-name=day],
            .tab-button-icon[aria-label*="day"] {
                background-image: url(../assets/departure/icon/icon_day_1.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
            }
            .tab-button-icon[ng-reflect-name*="month"],
            .tab-button-icon[aria-label*="month"] {
                background-image: url(../assets/departure/icon/icon_month_1.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
            }
            .tab-button-icon[ng-reflect-name*="exchange"],
            .tab-button-icon[aria-label*="exchange"] {
                background-image: url(../assets/departure/icon/icon_switch_1.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
            }
            .tab-button-icon[ng-reflect-name*="mores"],
            .tab-button-icon[aria-label*="mores"] {
                background-image: url(../assets/departure/icon/icon_more_1.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
            }
            .tab-button-text {
                font-size: 120%;
                color: #b9b6b6;
                margin: auto;
            }
        }
        a[aria-selected=true] {
            .tab-button-icon[ng-reflect-name="day"],
            .tab-button-icon[aria-label*="day"] {
                background-image: url(../assets/departure/icon/icon_day_2.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
            }
            .tab-button-icon[ng-reflect-name*="month"],
            .tab-button-icon[aria-label*="month"] {
                background-image: url(../assets/departure/icon/icon_month_2.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
            }
            .tab-button-icon[ng-reflect-name*="exchange"],
            .tab-button-icon[aria-label*="exchange"] {
                background-image: url(../assets/departure/icon/icon_switch_2.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
            }
            .tab-button-icon[ng-reflect-name*="mores"],
            .tab-button-icon[aria-label*="mores"] {
                background-image: url(../assets/departure/icon/icon_more_2.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
            }
            .tab-button-text {
                font-size: 130%;
                color: white;
                margin: auto;
                font-weight: 400;
            }
        }
    }
    /*active and inactive icon for android*/
    .tabs-md {
        a[aria-selected=false] {
            .tab-button-icon[ng-reflect-name*="day"],
            .tab-button-icon[aria-label*="day"] {
                background-image: url(../assets/departure/icon/icon_day_1.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
            }
            .tab-button-icon[ng-reflect-name*="month"],
            .tab-button-icon[aria-label*="month"] {
                background-image: url(../assets/departure/icon/icon_month_1.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
            }
            .tab-button-icon[ng-reflect-name*="exchange"],
            .tab-button-icon[aria-label*="exchange"] {
                background-image: url(../assets/departure/icon/icon_switch_1.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
            }
            .tab-button-icon[ng-reflect-name*="mores"],
            .tab-button-icon[aria-label*="mores"] {
                background-image: url(../assets/departure/icon/icon_more_1.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
            }
            .tab-button-text {
                font-size: 85%;
                color: #b9b6b6;
                margin: auto;
            }
        }
        a[aria-selected=true] {
            .tab-button-icon[ng-reflect-name*="day"],
            .tab-button-icon[aria-label*="day"] {
                background-image: url(../assets/departure/icon/icon_day_2.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
            }
            .tab-button-icon[ng-reflect-name*="month"],
            .tab-button-icon[aria-label*="month"] {
                background-image: url(../assets/departure/icon/icon_month_2.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
            }
            .tab-button-icon[ng-reflect-name*="exchange"],
            .tab-button-icon[aria-label*="exchange"] {
                background-image: url(../assets/departure/icon/icon_switch_2.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
            }
            .tab-button-icon[ng-reflect-name*="mores"],
            .tab-button-icon[aria-label*="mores"] {
                background-image: url(../assets/departure/icon/icon_more_2.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
            }
            .tab-button-text {
                font-size: 90%;
                color: white;
                margin: auto;
                font-weight: 400;
            }
        }
    }
    .divBar {
        width: 40px;
        height: 6px;
        background-color: #4bcdef;
        border-radius: 3px;
        position: absolute;
        left: 20px;
        transform: translateX(0px, -4px);
        transition: 200ms;
    }
}