<div class="a-header-background a1-container-top a1-z-10" style="padding-bottom: 4px">
    <!-- <div style="height: 20px"></div> -->
    <div *ngIf="isPlatform == 'iphone'" style="height:20px"></div>
    <div *ngIf="isPlatform != 'iphone'" style="height:4px"></div>

    <div class="height-56 a3-container a3-justify-between a3-items-center">
        <div margin-left class="a-header-button" (click)="pickSolarDate($event)">
            <img src="assets/departure/btn_calendar.png">
        </div>
        <div class="a-header-title">
            <div text-center style="font-size: 1.2em;padding-bottom:5px;font-weight:bold">Đổi ngày</div>
            <div text-center>
                <span class="today">Hôm nay</span>
                <span class="date-today" nowrap>{{this.todayInSolar.dateString}}</span>
            </div>
        </div>
        <div margin-right class="a-header-button">
            <img src="assets/departure/btn_notification.png">
        </div>
    </div>
</div>
<ion-content no-bounce>
    <!-- <div style="height:20px"></div> -->
    <div *ngIf="isPlatform == 'iphone'" style="height:86px"></div>
    <div *ngIf="isPlatform != 'iphone'" style="height:70px"></div>
    <div margin-top class="change-date-body a3-container-center">
        <div class="solar-date width-40 ">
            <div class="header a3-container-center">
                <span>Dương lịch</span>
            </div>
            <div id="solar-date" class="content a3-container-center">
                <div class="bg-active"></div>
                <div class="change-date-col solar-col" index="0">
                    <div class="item"></div>
                    <div class="item " *ngFor="let date of day_in_month" [class.day-active]="!load_filter && date== day_filter[0].day"><span>{{date}}</span>
                    </div>
                    <div class="item"></div>
                </div>
                <div class="border"></div>
                <div class="change-date-col solar-col" index="1">
                    <div class="item"></div>
                    <div class="item" *ngFor="let month of datas[1]" [class.month-active]="!load_filter && month==day_filter[0].month"><span>{{month}}</span></div>
                    <div class="item"></div>
                </div>
                <div class="border"></div>
                <div class="change-date-col solar-col" index="2">
                    <div class="item"></div>
                    <div class="item" *ngFor="let year of datas[2]" [class.year-active]="!load_filter && year==day_filter[0].year"><span>{{year}}</span></div>
                    <div class="item"></div>
                </div>
            </div>
        </div>
        <div class="icon width-10">
            <img src="assets/departure/icon_arrow.png" alt="">
        </div>
        <div class="lunar-date width-40">
            <div class="header a3-container-center">
                <span> Âm lịch </span>
            </div>
            <div class="content a3-container-center">
                <div class="bg-active"></div>
                <div class="change-date-col lunar-col" index="3">
                    <div class="item"></div>
                    <div class="item" *ngFor="let date of lunarMonth" [class.day-active]="!load_filter && date== day_filter[1].day"><span>{{date}}</span></div>
                    <div class="item"></div>
                </div>
                <div class="border"></div>

                <div class="change-date-col lunar-col" index="4">
                    <div class="item"></div>
                    <div class="item" *ngFor="let month of datas[1]" [class.month-active]="!load_filter && month== day_filter[1].month"><span>{{month}}</span></div>
                    <div class="item"></div>
                </div>
                <div class="border"></div>

                <div class="change-date-col lunar-col" index="5">
                    <div class="item"></div>
                    <div class="item" *ngFor="let year of datas[2]" [class.year-active]="!load_filter && year== day_filter[1].year"><span>{{year}}</span></div>
                    <div class="item"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="zodiac-block a3-container-center">
        <div class="date-detail a3-container-center" nowrap>Chi tiết ngày</div>
    </div>
    <div class="zodiac-comment">
        <span class="day-name">Ngày {{selectedDate.nameOfDay}} - {{selectedDate.dateString}} </span>
        <span class="day-comment" *ngIf="selectedDate.comment">" {{selectedDate.comment}} "</span>
    </div>
</ion-content>