page-departure-tuvi {
    ion-content {
        // background-image: url('../assets/departure/background/background-home.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}