page-departure-loading {
    .splash {
        background-image: url("../assets/departure/splash.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}